body {
    background-color: bisque;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.squaredivh, .squaredivv {
    flex-shrink: 0;
}

.squaredivv {
    border: 1px solid black;
}

.squaredivh {
    display: flex;
    flex-direction: row;
}

.hover {
    background-color: black;
}

.userinputs {
    display: flex;
    gap: 30px;
}

.refresh {
    margin-top: 20px;
}

.slider {
    width: 300px;
    margin-top: 20px;
}